
body { font-family: Arial; background:#111; color:#eee; margin:0; }
header { padding:15px; background:#000; }
nav { display:flex; justify-content:space-around; background:#222; }
button { padding:10px; margin:5px; }
.tab { padding:15px; }
.hidden { display:none; }
